.home-section-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: 100%;
}

.music-card-container {
    display: flex;
    border: 2px solid var(--icon);
    max-width: 1000px;
    width: 100%;
    user-select: none;
    align-items: center;
}

.music-card-img {
    padding: 30px;
}

.music-card-container h1 {
    font-size: 3em;
}

.music-card-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.music-card-date {
    color: var(--primary-text);
    font-family: "Consolas", Times, sans-serif;
    font-weight: 500;
    letter-spacing: -0.05rem;
    font-size: 1.1rem;
}

.recent-release-links {
    display: flex;
    gap: 25px;
}

.music-card-icon {
    display: flex;
    align-items: center;
    gap: 6px;
    font-family:  "Consolas", Times, serif;
    font-weight: 500;
    color: var(--primary-text);
    text-decoration:underline;
    letter-spacing: -0.05rem;
}

.music-card-icon:hover {
    color: var(--accent-text)
}

.youtube-video-container {
    position: relative;
    max-width: 1000px;
    width: 100%;
    display: flex;
    aspect-ratio: 16 / 9;
    align-items: center;
    justify-content: center;
    background-color: var(--page-background);
    border-radius: 15px;
}

.tour-image {
    max-width: 600px;
}

.visit-counter {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1000;
  border: 1px solid var(--icon);
  padding: 0.2rem;
  background-color: white;
}

@media (max-width: 768px) {
    .music-card-container {
        width: 100%;
    }

    .tour-image {
    max-width: 100%;
}

}