.home-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
    width: 100%;
}

.spotify-widget-container {
    max-width: 1000px;
    width: 100%;
    user-select: none;
}

.youtube-video-container {
    position: relative;
    max-width: 1000px;
    width: 100%;
    display: flex;
    aspect-ratio: 16 / 9;
    align-items: center;
    justify-content: center;
    background-color: var(--page-background);
    border-radius: 15px;
}

.tour-image {
    max-width: 600px;
}

@media (max-width: 768px) {
    .spotify-widget-container {
        width: 100%;
    }

    .tour-image {
    max-width: 100%;
}

}