.navbar-container {
    width: 100%;
    height: 120px;
    top: 0;
    position: sticky;
    display: flex;
    align-items: center;
    padding: 0 4rem;
    justify-content: space-between;
}

.logo-container {
    width: 250px;
    align-items: center;
}

.nav-menu-container {
    display: flex;
    gap: 20px;
    align-items: center;
    text-decoration: none;
}

.nav-link {
    color: var(--nav-text);
    text-decoration: none;
    font-size: larger;
    font-family: "eurostile", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.nav-link:hover {
    opacity: 80%;
}


.mobile-nav-container {
    display: none;
}


@media (max-width: 980px) {
    .mobile-nav-container {
        display: flex;
        flex-direction: column;
    }

    .nav-menu-container {
        display: none;
    }
}
