
.footer-container {
    width: 100%;
    max-height: 100px;
    border-top: 2px solid var(--icon);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content {
    display: flex;
    align-items: center;
    gap: 36px;
}

.footer-logo {
    width: 50px;
    height: 50px;
}

.footer-links {
    display: flex;
    gap: 15px;
    font-family: "degular-mono", Times, serif;
    font-weight: 400;
    color: var(--primary-text);
    text-decoration:underline;
    letter-spacing: -0.05rem;
    font-size: medium;
}

.footer-link:hover {
    color: var(--accent-text);
}


.snog-rotate {
  animation: snog-wobble 8s infinite linear;
  display: inline-block;
}

@keyframes snog-wobble {
  0%   { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}


@media (max-width: 600px) {
    .footer-container {
        height: fit-content;
        max-width: 100%;
        align-items: center;
    }

    .footer-content {
        align-items: center;
        max-width: 100%;
    }

    .footer-links {
        font-size: 0.9em;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-logo {
        width: 80px;
        height: 40px;
    }
}