.navbar-container {
    width: 100%;
    height: 100px;
    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 4rem;
    justify-content: space-between;
    z-index: 1000;
    background-color: var(--page-background);
    /* border-bottom: 2px solid var(--icon); */
}

.logo-container {
    width: 250px;
    align-items: center;
}

.nav-menu-container {
    display: flex;
    gap: 20px;
    align-items: center;
    text-decoration: none;
}

.nav-link {
    color: var(--nav-text);
    text-decoration: none;
    font-size: larger;
    font-family: "eurostile", sans-serif;
    font-weight: 800;
    font-style: normal;
    user-select: none;
}

.nav-link:hover {
    opacity: 80%;
    transition: opacity 0.2s ease-in-out;
}

.nav-link span {
  position: relative;
  z-index: 1;
}

.nav-link span::after {
  content: "";
  display: block;
  position: absolute;
  left: 0; right: 0; bottom: -5px;
  height: 2px;
  background: var(--nav-text);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s cubic-bezier(.6,0,.2,1);
  z-index: 0;
}

.nav-link:hover span::after,
.nav-link.active span::after {
  transform: scaleX(1);
}

.theme-slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 15px;
}

.mobile-nav-btn {
    background-color: var(--page-background);
    color: var(--icon);
    cursor: pointer;
    padding: 0.3rem;
    border-radius: 0.1rem;
    transition: 0.3s;
}

.mobile-nav-btn:hover {
    background-color: var(--icon);
    color: var(--page-background);
    transition: 0.3s;
}

.mobile-menu-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    background-color: var(--page-background);
    transform-origin: top;
    inset: 0;
    top: 100px;
}

.mobile-nav-link-container {
    display: flex;
    flex-direction: column;
    margin-top: 20%;
}

.mobile-nav-link {
    color: var(--nav-text);
    text-decoration: none;
    font-size: larger;
    font-family: "eurostile", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 4em;
    line-height: 1.1em;
    letter-spacing: -0.05em;
}

.mobile-nav-link:hover {
    opacity: 80%;
}


.mobile-nav-container {
    display: none;
}


@media (max-width: 980px) {
    .mobile-nav-container {
        display: flex;
        flex-direction: column;
    }

    .nav-menu-container {
        display: none;
    }

    .navbar-container {
        padding: 25px;
    }

    .logo-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
  }

}
