#root {
  margin: 0 auto;
  height: 100vh;
}

.page-content-container {
  max-width: 1920px;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  align-items: center;
  justify-self: center;
  gap: 2rem;
  margin-top: 120px;
}

h1 {
  font-family: "neue-haas-grotesk-display", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  color: var(--primary-text);
  user-select: none;
}