@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--page-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Global CSS Colors by Theme*/
/* ------------------------------------------------------------ */
[data-theme="dark"] {

  /* page */
  --page-background: #111111;
  --page-foreground: #131313;
  --foreground-hover:#2d2e30;
  --page-divider: #383838;
  --icon: #E0D9D2;

  /* text */
  --header-text: #E0D9D2;
  --primary-text: #E0D9D2;
  --secondary-text: #E0D9D2;
  --placeholder-text: #E0D9D2;
  --nav-text:  #E0D9D2;
  
}

[data-theme="light"] {
  /* page */
  --page-background: #E0D9D2;
  --page-foreground: #ffffff;
  --foreground-hover:#2d2e30;
  --page-divider: #686868;
  --icon: #0D0D0D;
  --input-field-focus: #000000;

  /* text */
  --header-text: #0D0D0D;
  --primary-text: #0D0D0D;
  --secondary-text: #0D0D0D;
  --placeholder-text: #a0a0a0;
  --nav-text:  #0D0D0D;
}